## 사칙연산

In [ ]:
# 덧셈

1+2

3

In [ ]:
# 뺄셈

3-2

1

In [ ]:
# 곱셈

2*3

6

In [ ]:
# 나누기

5/2

2.5

In [ ]:
# 몫

5//2

2

In [ ]:
# 나머지

5%2

1

In [ ]:
# 거듭제곱

2**3

8

## 변수

In [ ]:
# 변수명 = 데이터 --> 데이터를 변수에 할당

a = 3
a

3

In [ ]:
# 변수명에 새로운 데이터를 할당

a = 4
a

4

In [ ]:
# 동일한 변수명에 연달아 데이터를 할당하는 경우
# 마지막에 할당된 값이 저장됨

a = 3
a = 4
a

4

In [ ]:
# 두 변수에 값을 할당한 후 변수 간 연산이 가능

a = 3
b = 4

a+b

7

In [ ]:
# 뺄셈

a-b

-1

In [ ]:
# 곱셈

a*b

12

In [ ]:
# 거듭제곱

a**b

81

In [ ]:
# 나눗셈

a/b

0.75

In [ ]:
# 몫 구하기

a//b

0

In [ ]:
# 나머지 구하기

a%b

3

In [ ]:
# 변수명에 공백이 있는 경우 에러 반환

ab cd = 3

SyntaxError: invalid syntax (486662231.py, line 1)

In [ ]:
# 변수명이 숫자로 시작하는 경우 에러 반환

2ab = 3

SyntaxError: invalid syntax (4083826715.py, line 1)

In [ ]:
# 미리 정의된 변수명은 사용불가

class = 3
class

SyntaxError: invalid syntax (2960678850.py, line 3)

In [1]:
# 미리 정의된 변수명은 사용불가

for = 3
for

SyntaxError: ignored

In [ ]:
# 변수 a와 변수 b에 각각 88, 99를 대입해서 a와 b의 곱을 계산

a = 88
b = 99
a*b

8712

## 숫자
- int: 정수
- float: 실수
- complex: 복소수

In [ ]:
# 정수 타입

a = 1
type(a)

int

In [ ]:
# 실수(소수) 타입

b = 2.0
type(b)

float

In [ ]:
# 복소수 타입

c = 1 + 3j
type(c)

complex

In [ ]:
# 복소수 c의 실수값

c.real

1.0

In [ ]:
# 복소수 c의 허수값

c.imag

3.0

In [ ]:
a = 3
b = 4
z = complex(3, 4) # complex(실수부, 허수부)
z

(3+4j)

In [ ]:
# 켤레복소수

w = z.conjugate()
w

(3-4j)

## 문자열(string)

In [4]:
# 문자열은 작은따옴표, 큰따옴표(쌍따옴표), 세쌍의 큰따옴표(혹은 작은따옴표)로로 이루어져 있음.
# 작은따옴표로 시작하는 문자열은 작은따옴표로 끝나야 함.
# 작은따옴표와 큰따옴표로 이루어진 문자열은 없음.
# 아래는 큰따옴표로 이루어진 문자열임.

a = "대한민국"
a

'대한민국'

In [ ]:
# 아래는 작은따옴표로 이루어진 문자열임.

b = '대한민국'
b

'대한민국'

In [2]:
# 세쌍의 큰따옴표로 이루어진 문자열

c = """대한민국"""
c

'대한민국'

In [8]:
# 세쌍의 작은따옴표로 이루어진 문자열

d = '''대한민국'''
d

'대한민국'

In [10]:
e = "대한\n민국"
print(e)

대한
민국

In [12]:
# 세쌍의 따옴표로 이루어진 문자열은 여러줄 형태의 문자열 작성이 가능

f = '''대한
민국'''
print(f)

대한
민국

In [14]:
# 문자열에 큰 따옴표가 포함되는 경우 작은따옴표를 이용하여 문자열 구성

g = '그는 외쳤다. "대한민국만세"'
g

'그는 외쳤다. "대한민국만세"'

In [16]:
# 문자열에 작은따옴표가 포함되는 경우 큰따옴표를 이용하여 문자열 구성

h = "그는 다음과 같이 썼다. '대한민국만세'"
h

"그는 다음과 같이 썼다. '대한민국만세'"

In [5]:
# 문자열 데이터 타입 확인

type(a)

str

In [ ]:
# +연산자로 문자열 연결

"대한"+"민국"

'대한민국'

In [ ]:
# *연산자로 문자열 반복

"대한"*5

'대한대한대한대한대한'

In [ ]:
"대한 + 민국 = 대한민국"

'대한 + 민국 = 대한민국'

In [ ]:
# format 메소드로 새로운 문자열 구성

a = '대한'
b = '민국'

'{} + {} = {}'.format(a, b, a+b)

'대한 + 민국 = 대한민국'

In [ ]:
# +연산자로 직접 새로운 문자열 구성

a = '대한'
b = '민국'

a+' + '+b+' = '+a+b

'대한 + 민국 = 대한민국'

In [ ]:
# % formatting으로 새로운 문자열 구성
# %s, %d, %f 등 이용

a = '대한'
b = '민국'

'%s + %s = %s' % (a,b,a+b)

'대한 + 민국 = 대한민국'

In [ ]:
# f-string으로 새로운 문자열 구성

a = '대한'
b = '민국'

f'{a} + {b} = {a+b}'

'대한 + 민국 = 대한민국'

In [ ]:
# 문자열 인덱싱

a = '대한민국'
print(a[0])
print(a[1])
print(a[2])
print(a[3])

print(a[0], a[1], a[2], a[3])
print(a[0], a[1], a[2], a[3], sep="")
print(a[0], a[1], a[2], a[3], sep='!')
print(a[0], a[1], a[2], a[3], sep=':')

대
한
민
국
대 한 민 국
대한민국
대!한!민!국
대:한:민:국

In [3]:
a[-1] # 문자열에서 맨 마지막 글자를 반환

'1'

In [ ]:
a[-2] # 문자열에서 맨 마지막 글자의 앞글자를 반환

'민'

In [ ]:
# 슬라이싱

a = "대한민국만세"

a[0:2]

'대한'

In [ ]:
a[2:5]

'민국만'

In [ ]:
# 문자열 전체를 반환

a[:]

'대한민국만세'

In [ ]:
# a[0:2]와 동일

a[:2]

'대한'

In [ ]:
# 3번 인덱스부터 끝까지의 문자열을 반환

a[3:]

'국만세'

#### 문자열 주요 메소드

In [1]:
# 문자열 길이를 숫자로 반환

a = "대한민국만세"

len(a)

6

In [ ]:
# "한"이 들어간 문자의 개수를 반환

a.count("한")

1

In [ ]:
# "민"이 위치한 인덱스 값을 반환

a.find('민')

2

In [ ]:
# "만"이 뒤에서 처음으로 나타나는 인덱스 값을 반환 

b = "대한대한민국만만세"

b.rfind('만')

7

In [ ]:
# 공백이 있는 경우 공백을 기준으로 문자열을 분리

b = "대한대한민국 만만세"

b.split()

['대한대한민국', '만만세']

In [ ]:
# 특정 문자열을 기준으로 문자열을 분리

b.split("한")

['대', '대', '민국 만만세']

In [ ]:
# ,를 기준으로 문자열을 분리

"a, b, c, d, e, f, g".split(", ")

['a', 'b', 'c', 'd', 'e', 'f', 'g']

In [ ]:
c = "Python"

print(c.upper()) # 문자열을 모두 대문자로 변환
print(c.lower()) # 문자열을 모두 소문자로 변환

PYTHON
python

In [ ]:
"coDE".capitalize() # 문자열 첫글자만 대문자로 나머지는 소문자로 변환

'Code'

In [ ]:
"beN hur".title() # 공백으로 분리된 문자열의 첫글자를 대문자로 나머지는 소문자로 변환

'Ben Hur'

In [ ]:
"ab ".rstrip() # 문자열 중 오른쪽 white space(" ", \n, \t) 제거

'ab'

In [6]:
"ab\t".rstrip() # 문자열 중 오른쪽 white space(" ", \n, \t) 제거

'ab'

In [7]:
"ab\n".rstrip() # 문자열 중 오른쪽 white space(" ", \n, \t) 제거

'ab'

In [ ]:
"ab ".strip() # 문자열 중 양쪽 white space(" ", \n, \t) 제거

'ab'

In [ ]:
"  ab ".strip() # 문자열 중 양쪽 white space(" ", \n, \t) 제거

'ab'

In [ ]:
"  ab ".lstrip() # 문자열 중 왼쪽 white space(" ", \n, \t) 제거

'ab '

In [ ]:
a = "대한민국만세"

a.replace("만세", "화이팅") # replace("변경 전 일부 문자열", "변경 후 문자열")

'대한민국화이팅'

In [6]:
a = '1'
b = 'abcd'
c = "대한민국만세"
d = "대한민국60주년"

print(a.isdigit()) # 문자열이 숫자로만 이루어진 경우 True
print(b.isdigit())
print(c.isdigit())
print(d.isdigit())
print()
print(a.isalpha()) # 문자열이 글자(한글, 영어)로만 이루어진 경우 True
print(b.isalpha())
print(c.isalpha())
print(d.isalpha())
print()
print(a.isalnum()) # 문자열이 글자 혹은 숫자로 이루어진 경우 True
print(b.isalnum())
print(c.isalnum())
print(d.isalnum())

True
False
False
False

False
True
True
False

True
True
True
True

## print 함수 및 sep 인자
- 값이 문자열이나 숫자인 print(value0, value1, value2, ..., valueN) 형태의 명령은 공백으로 구분된 연속된 값으로 된 값을 화면상에 표시함.
- sep 인자를 이용하여 우리가 원하는 구분자를 변경할 수 있음.

In [ ]:
print("Hello", "World", "Python")

Hello World Python

In [ ]:
print("Hello", "World", "Python", sep = ' ')

Hello World Python

In [ ]:
print("Hello", "World", "Python", sep = '')

HelloWorldPython

In [ ]:
print("Hello", "World", "Python", sep = '*')

Hello*World*Python

In [ ]:
print("Hello", "World", "Python", sep=' - ')

Hello - World - Python

In [ ]:
print("012345678901234567890123456789")
print("Rank".ljust(5), "Player".ljust(20), "HR".rjust(5), sep= "")
print('1'.center(5), "Barry Bonds".ljust(20), "762".rjust(5), sep="")
print('2'.center(5), "Hank Aaron".ljust(20), "755".rjust(5), sep="")
print('3'.center(5), "Babe Ruth".ljust(20), "714".rjust(5), sep="")

012345678901234567890123456789
Rank Player                 HR
  1  Barry Bonds           762
  2  Hank Aaron            755
  3  Babe Ruth             714

In [ ]:
print("0123456789")
print("1".center(10))

0123456789
    1

In [ ]:
print("0123456789")
print("1".ljust(10))

0123456789
1

In [ ]:
print("0123456789")
print("1".rjust(10))

0123456789
         1

## end 인자
- print(value0, value1, value2, ..., valueN, end=endString) 형태의 명령은 value0부터 valueN까지 화면상에 출력한 후 endString를 신규 행 연산없이 동일한 행에 표시함.

In [8]:
print("Hello")
print("World!!!")

Hello
World!!!

In [9]:
print("Hello", end='\n')
print("World!!!")

Hello
World!!!

In [ ]:
print("Hello", end= ' ')
print("World!!")

Hello World!!

In [ ]:
print("Hello", end = '')
print("World!!")

HelloWorld!!

In [10]:
print("Hello", end = '\t')
print("World!!")

Hello	World!!

## 이스케이프 시퀀스
- 커서를 지시하거나 몇 개의 특수문자를 출력하도록 하는 문자열 내에 위치하는 짧은 시퀀스임.
- \t: 수평 탭
- \n: 신규 라인 연산 유도

In [ ]:
print("0123456789")
print("abcdefg")

0123456789
abcdefg

In [ ]:
print("0123456789")
print("\nabcdefg")

0123456789

abcdefg

In [ ]:
print("0123456789")
print("abc")

0123456789
abc

In [12]:
print("01234567890123456")
print("a\tb\tc")

01234567890123456
a	b	c

In [ ]:
print("012345678901234567890123456789")
print("a\tb\tc")
print("a\tb\tc".expandtabs(3))
print("a\tb\tc".expandtabs(4))
print("a\tb\tc".expandtabs(5))
print("a\tb\tc".expandtabs(6))

012345678901234567890123456789
a	b	c
a  b  c
a   b   c
a    b    c
a     b     c

## format 메소드로 출력물 정리하기
- str1이 문자열이고, w가 폭이라면 다음은 동일한 결과를 반환함.
    - print("{0:<ws}".format(str1) --> print(str1.ljust(w))
    - print("{0:^ws}".format(str1) --> print(str1.center(w))
    - print("{0:>ws}".format(str1) --> print(str1.rjust(w))
- num이 숫자이고, w가 폭이라면 다음은 동일한 결과를 반환함.
    - print("{0:<wn}".format(num)) --> print(str(num).ljust(w))
    - print("{0:^wn}".format(num)) --> print(str(num).center(w))
    - print("{0:>wn}".format(num)) --> print(str(num).rjust(w))
- 숫자 출력 형식을 설정할 때, 숫자 형식에 해당하는 괄호 안에 문자 n을 사용하는 것보다 정수에는 문자 d를 사용하고, 소수점 문자에는 문자 f를 사용함.
- 퍼센트로 표시되도록 하기 위해 부호 %를 사용함.
- 폭 다음에 콤마를 삽입하여 천 단위 구분자를 설정할 수 있음.

In [ ]:
print("0123456789012345678901234567")
print("{0:<5s}{1:<20s}{2:>3s}".format("Rank", "Player", "HR"))
print("{0:^5n}{1:<20s}{2:>3n}".format(1, "Barry Bonds", 762))
print("{0:^5n}{1:<20s}{2:>3n}".format(2, "Hank Aaron", 755))
print("{0:^5n}{1:<20s}{2:>3n}".format(3, "Babe Ruth", 714))

0123456789012345678901234567
Rank Player               HR
  1  Barry Bonds         762
  2  Hank Aaron          755
  3  Babe Ruth           714

In [ ]:
print("0123456789012345678901234567")
print("Rank".ljust(5), "Player".ljust(20), "HR".rjust(3), sep= "")
print('1'.center(5), "Barry Bonds".ljust(20), "762".rjust(3), sep="")
print('2'.center(5), "Hank Aaron".ljust(20), "755".rjust(3), sep="")
print('3'.center(5), "Babe Ruth".ljust(20), "714".rjust(3), sep="")

0123456789012345678901234567
Rank Player               HR
  1  Barry Bonds         762
  2  Hank Aaron          755
  3  Babe Ruth           714

In [ ]:
print("{0:<10d}".format(12345678)) # 숫자는 정수

12345678

In [ ]:
print("{0:<10,d}".format(12345678)) # 천 단위 구분자 추가됨

12,345,678

In [15]:
print("{0:<10.2f}".format(1234.5678)) # 소수 셋째자리에서 반올림

1234.57

In [ ]:
print("{0:<10,.2f}".format(1234.5678)) # 소수 셋째자리에서 반올림 후 천 단위 구분자 추가

1,234.57

In [ ]:
print("${0:<10,.3f}".format(1234.5678)) # 소수 넷째자리에서 반올림 후 천 단위 구분자 추가

$1,234.568

In [20]:
print("{0:<10.2%}".format(12.345678)) # %로 변환 후 소수 셋째자리에서 반올림

1234.57%

In [ ]:
print("{0:10,.3%}".format(12.3456789)) # %, 반올림, 천 단위 구분자 추가

1,234.568%

In [ ]:
print("The area of {0:s} is {1:,d} square miles.".format("Texas", 268820))
str1 = "The population of {0:s} is {1:.2%} of the U.S. population."
print(str1.format("Texas", 26448000 / 309000000))

The area of Texas is 268,820 square miles.
The population of Texas is 8.56% of the U.S. population.

In [ ]:
'{}+{}={}'.format(3, 4, 3+4) # {} 안에 숫자를 따로 기입하지 않은 경우 순서대로 데이터를 입력

'3+4=7'

In [ ]:
a, b = 10, 4
print('{}*{}={}'.format(a,b,a*b))

10*4=40

In [ ]:
print('{0} / {1} = {2}'.format(a, b, a/b))

10 / 4 = 2.5

In [ ]:
print('{1} / {0} = {2}'.format(a, b, b/a)) # 입력하는 데이터 순서를 변경하는 것 가능

4 / 10 = 0.4

In [16]:
a, b = 10, 3
print('{0:d} / {1:d} = {2:.7f}'.format(a, b, a / b))
print('{0:^5d} / {1:>5d} = {2:<10.3f}'.format(a, b, a / b))

10 / 3 = 3.3333333
 10   /     3 = 3.333