## 함수 - Built-In Functions

In [1]:
# Built in functions
# 함수 괄호 안에 들어가는 값을 argument(인자)라고 함.
# int, chr, ord 함수는 하나의 argument를 갖고, round 함수는 두 개의 arguments를 가짐.
# arguments는 문자 혹은 숫자, 변수, 표현식 등으로 표현가능

print("Function".ljust(10), "Example".ljust(30), "Input".ljust(20), "Output")
print("int".ljust(10), "int(2.6) is 2".ljust(30), "number".ljust(20), "number")
print("chr".ljust(10), "chr(65) is 'A'".ljust(30), "number".ljust(20), "string")
print("ord".ljust(10), "ord('A') is 65".ljust(30), "string".ljust(20), "number")
print("round".ljust(10), "round(2.34, 1) is 2.3".ljust(30), "number, number".ljust(20), "number")

Function   Example                        Input                Output
int        int(2.6) is 2                  number               number
chr        chr(65) is 'A'                 number               string
ord        ord('A') is 65                 string               number
round      round(2.34, 1) is 2.3          number, number       number

In [3]:
num1 = int(3.7) # 문자 혹은 숫자
num2 = int(num1) # 변수
num3 = int(2*num2) # 표현식

## 사용자 정의 함수 - single parameter

In [1]:
# 함수에서 사용되는 변수를 파라미터(parameter)라고 함.

def fahrenheitToCelsius(t):
    ## convert Fahrenheit temperature to Celsius.
    convertedTemperature = (5/9)*(t-32)
    return convertedTemperature

In [4]:
# 함수 실행시 사용되는 값을 argument(인자)라고 함.
fahrenheitToCelsius(104)

40.0

In [3]:
def firstName(fullName):
    ## Extract the first name from a full name
    firstSpace = fullName.index(' ')
    givenName = fullName[:firstSpace]
    return givenName

In [4]:
firstName("GilDong Hong")

'GilDong'

In [6]:
# 앞서 정의된 fahrenheitToCelsius 함수를 이용
# argument인 fahrenheitTemp의 값이 함수 헤더에 있는 파라미터인 t에 할당됨.
# 함수 fahrenheitToCelsius를 통해 return 실행문이 값을 출력
# 출력된 값이 celsiusTemp에 할당됨.
# celsiusTemp에 할당된 값이 print 명령문을 통해 출력됨.

def fahrenheitToCelsius(t):
    ## convert Fahrenheit temperature to Celsius.
    convertedTemperature = (5/9)*(t-32)
    return convertedTemperature

fahrenheitTemp = eval(input("Enter a temperature in degrees Fahrenheit: "))
celsiusTemp = fahrenheitToCelsius(fahrenheitTemp)
print("Celsius equivalent: {0:.2f} degrees".format(celsiusTemp))

# print("Celsius equivalent:", fahrenheitToCelsius(fahrenheitTemp), "degrees")처럼 작성가능

Enter a temperature in degrees Fahrenheit: 106
Celsius equivalent: 41.11 degrees

In [7]:
def firstName(fullName):
    ## Extract the first name from a full name
    firstSpace = fullName.index(' ')
    givenName = fullName[:firstSpace]
    return givenName

fullName = input("Enter a person's full name: ")
print("First name: ", firstName(fullName))

Enter a person's full name: Hun Park
First name:  Hun

## 사용자 정의 함수 - multiple parameters

In [8]:
def add(a, b):
    return a + b

In [9]:
add(2,3)

5

In [8]:
def mul(a, b):
    return a*b

In [10]:
c = mul(2,6)
c

12

In [10]:
def pay(wage, hours):
    # Calculate weekly pay with time-and-a-half for overtime
    if hours <= 40:
        amount = wage * hours
    else:
        amount = (wage * 40) + ((1.5)* wage * (hours - 40))
    return amount

In [11]:
def futureValue(p, r, m, t):
    # Find the future value of a savings account deposit
    # p principal, the amount deposited(원금)
    # r annual rate of interest in decimal form(이자율)
    # m number of times interest is compounded per year(이자율 지급횟수)
    # t number of years(예치 후 경과년수)    
    i = r/m
    n = m * t
    amount = p * ((1+i)**n)
    return amount

In [12]:
def pay(wage, hours):
    # Calculate weekly pay with time-and-a-half for overtime
    if hours <= 40:
        amount = wage * hours
    else:
        amount = (wage * 40) + ((1.5)* wage * (hours - 40))
    return amount

hourlyWage = eval(input("Enter the hourly wage: "))
hoursWorked = eval(input("Enter the number of hours worked: "))
earnings = pay(hourlyWage, hoursWorked)
print("Earnings: ${0:,.2f}".format(earnings))

Enter the hourly wage: 100
Enter the number of hours worked: 50
Earnings: $5,500.00

In [13]:
def futureValue(p, r, m, t):
    # Find the future value of a savings account deposit
    # p principal, the amount deposited
    # r annual rate of interest in decimal form
    # m number of times interest is compounded per year
    # t number of years    
    i = r/m
    n = m * t
    amount = p * ((1+i)**n)
    return amount

p = eval(input("Enter amount deposited: "))
r = eval(input("Enter annual rate of interest in decimal form: "))
m = eval(input("Enter number of times interest is compounded per year: "))
t = int(input("Enter number of years: "))

balance = futureValue(p, r, m, t)
print("Balance after", t, "years: ${0:,.2f}".format(balance))

Enter amount deposited: 2000
Enter annual rate of interest in decimal form: 0.05
Enter number of times interest is compounded per year: 2
Enter number of years: 6
Balance after 6 years: $2,689.78

## True or False 반환 함수

In [1]:
# 입력한 단어(영어)가 모든 모음(aeiou)으로 이루어진 경우 True 반환
# 입력한 단어(영어)에 자음이 포함된 경우 False 반환
# 입력한 단어가 모음으로 이루어졌더라도 일부 모임이 없는 경우 False 반환

def isVowelWord(word):
    word = word.upper()
    vowels = ("A", "E", "I", "O", "U")
    for vowel in vowels: 
        if vowel not in word:
            return False # 자음이 하나라도 있으면 False 반환
    return True # 모두 모음으로 이루어진 단어인 경우 True 반환

In [2]:
isVowelWord("hunpark")

False

In [3]:
isVowelWord("aeiou")

True

In [4]:
isVowelWord("aeeiou")

True

In [6]:
isVowelWord("a")

False

In [5]:
word = input("Enter a word: ")
if isVowelWord(word):
    print(word, "contains every vowel.")
else:
    print(word, "does not contain every vowel.")

Enter a word: aei
aei does not contain every vowel.

## List 반환 함수

In [15]:
# 입력한 단어에서 모음을 추출해서 리스트 형태로 반환

def occurringVowels(word):
    word = word.upper()
    vowels = ('A', 'E', 'I', 'O', 'U')
    includedVowels = []
    for vowel in vowels:
        # vowel in word --> 단어에 모음이 있는 경우
        # vowel not in includedVowels --> 리스트에 모음이 존재하지 않는 경우
        if (vowel in word) and (vowel not in includedVowels): # 모음을 중복해서 append하는 것을 방지
            includedVowels.append(vowel)
    return includedVowels

In [8]:
occurringVowels("kisti")

['I']

In [9]:
occurringVowels("hunpark")

['A', 'U']

In [17]:
word = input("Enter a word: ")
listOfVowels = occurringVowels(word)
print("The following vowels occur in the word: ", end="")
stringOfVowels = " ".join(listOfVowels)
print(stringOfVowels)

Enter a word: abcdefg
The following vowels occur in the word: A E

## return 명령문이 없는 함수

In [23]:
def oldMcDonald(animal, sound):
    print("Old McDonald had a farm. Eyi eyi oh.")
    print("And on his farm he had a", animal + ".", "Eyi eyi oh.")
    print("With a", sound, sound, "here, and a", sound, sound, "there.")
    print("Here a", sound+",", "there a", sound+",",
         "everywhere a", sound, sound+".")
    print("Old McDonald had a farm. Eyi eyi oh.")

In [24]:
oldMcDonald("lamb", "baa")

Old McDonald had a farm. Eyi eyi oh.
And on his farm he had a lamb. Eyi eyi oh.
With a baa baa here, and a baa baa there.
Here a baa, there a baa, everywhere a baa baa.
Old McDonald had a farm. Eyi eyi oh.

In [25]:
oldMcDonald("duck", "quack")

Old McDonald had a farm. Eyi eyi oh.
And on his farm he had a duck. Eyi eyi oh.
With a quack quack here, and a quack quack there.
Here a quack, there a quack, everywhere a quack quack.
Old McDonald had a farm. Eyi eyi oh.

In [26]:
oldMcDonald("cow", "moo")

Old McDonald had a farm. Eyi eyi oh.
And on his farm he had a cow. Eyi eyi oh.
With a moo moo here, and a moo moo there.
Here a moo, there a moo, everywhere a moo moo.
Old McDonald had a farm. Eyi eyi oh.

In [27]:
oldMcDonald("lamb", "baa")
print()
oldMcDonald("duck", "quack")
print()
oldMcDonald("cow", "moo")

Old McDonald had a farm. Eyi eyi oh.
And on his farm he had a lamb. Eyi eyi oh.
With a baa baa here, and a baa baa there.
Here a baa, there a baa, everywhere a baa baa.
Old McDonald had a farm. Eyi eyi oh.

Old McDonald had a farm. Eyi eyi oh.
And on his farm he had a duck. Eyi eyi oh.
With a quack quack here, and a quack quack there.
Here a quack, there a quack, everywhere a quack quack.
Old McDonald had a farm. Eyi eyi oh.

Old McDonald had a farm. Eyi eyi oh.
And on his farm he had a cow. Eyi eyi oh.
With a moo moo here, and a moo moo there.
Here a moo, there a moo, everywhere a moo moo.
Old McDonald had a farm. Eyi eyi oh.

## 파라미터(매개변수) 없는 함수

In [23]:
def main():
    fullName = input("Enter a person's full name: ")
    print("First name:", firstName(fullName))
def firstName(fullName):
    firstSpace = fullName.index(" ")
    givenName = fullName[:firstSpace]
    return givenName
main()

Enter a person's full name: Hun Park
First name: Hun

In [24]:
def main():
    describeTask()
    calculateDensity("Hawaii", 1375000, 6423)
    
def describeTask():
    print("This program displays the population")
    print("density of the last state to become")
    print("part of the United States.\n")
    
def calculateDensity(state, pop, landArea):
    density = pop / landArea
    print("The density of", state, "is")
    print("{0:,.2f} people per square mile.".format(density))

main()

This program displays the population
density of the last state to become
part of the United States.

The density of Hawaii is
214.07 people per square mile.

## 여러 개의 값을 반환하는 함수

In [18]:
# 중요하다고 판단되는 변수명은 대문자로 코드 상단에 정의

INTEREST_RATE = .05

def main():
    principal = eval(input("Enter the amount of the deposit: "))
    numberOfYears = eval(input("Enter the number of years: "))
    (bal, intEarned) = balanceAndInterest(principal, numberOfYears)
    # bal, intEarned = balanceAndInterest(principal, numberOfYears)로 쓰는 것도 가능
    print("Balance: ${0:,.2f} Interest Earned: ${1: ,.2f}".format(bal, intEarned))
def balanceAndInterest(prin, numYears):
    balance = prin * ((1 + INTEREST_RATE)**numYears)
    interestEarned = balance - prin
    return (balance, interestEarned) # 튜플 형태의 값을 반환함. 
    # return balance, interestEarned로 쓰는 것도 가능
    # 두 값을 반환하는 듯 하지만, 실제로는 두 개의 값을 가진 튜플 하나를 반환하는 것임.

main()

Enter the amount of the deposit: 5000
Enter the number of years: 5
Balance: $6,381.41 Interest Earned: $ 1,381.41

In [7]:
# 예제 - 54 페이지

## 함수 호출시 정의되는 변수 특징

In [26]:
# 함수 내에서 생성된 변수는 함수 안의 명령문에 의해 접근이 가능함.
# 함수 실행이 종료된 후에는 함수 실행시 생성된 변수는 함수가 종료되는 시점에 사라짐.


def main():
    x = 2
    print(str(x) + ": function main") # 위에서 할당된 x값이 표시됨.
    trivial() # trivial 함수에서 할당된 x값이 표시됨., 함수 종료와 동시에 할당된 값이 사라짐.
    print(str(x) + ": function main") # main 함수 호출시 할당된 x값이 표시됨.
def trivial():
    x = 3
    print(str(x) + ": function trivial")

main()

2: function main
3: function trivial
2: function main

In [12]:
def main():
    x = 5
    print(x, "main") # 위에서 할당된 값이 표시됨.
    trivial() # trivial 함수에서 할당된 x값이 표시됨.
    print(x, "main") # main 함수에서 할당된 x값이 표시됨.
    
def trivial():
    x = 1
    print(x, "trivial")
    
main()

5 main
1 trivial
5 main

## 로컬변수와 글로벌 변수

In [1]:
a = 20 # 글로벌 변수

def func1():
    a = 10 # 로컬 변수
    print(a)
    
def func2():
    print(a)
    
func1()
func2()

10
20

In [2]:
a = 20 # 글로벌 변수

def func1():
    global a # 글로벌 변수 선언
    a = 10 # 글로벌 변수 변경
    print(a)

def func2():
    print(a) # func1에서 정의된 & 변경된 글로벌 변수값 출력
    
func1()
func2()

10
10

In [3]:
x = 0   # 글로벌 변수 정의

def main():
    print(str(x) + ": function main")
    trivial()
    print(str(x) + ": function main")
    
def trivial():
    global x   # 함수 내에서 global variable을 변경할 수 있도록 global 명령문을 사용
    x += 7
    print(str(x) + ": function trivial")
    
main()

0: function main
7: function trivial
7: function main

## 라이브러리 모듈 사용

In [35]:
import finance

In [37]:
hourlyWage = eval(input("Enter the hourly wage: "))
hoursWorked = eval(input("Enter the number of hours worked: "))
earnings = finance.pay(hourlyWage, hoursWorked) # finance.py 파일 내 pay 함수 사용
print("Earnings: ${0:,.2f}".format(earnings))

Enter the hourly wage: 90
Enter the number of hours worked: 45
Earnings: $4,275.00

In [38]:
import finance

In [39]:
p = eval(input("Enter amount deposited: "))
r = eval(input("Enter annual rate of interest in decimal form: "))
m = eval(input("Enter number of times interest is compounded per year: "))
t = int(input("Enter number of years: "))
balance = finance.futureValue(p, r, m, t) # finance.py 파일 내 futureValue 함수 사용
print("Balance after", t, "years: ${0:,.2f}".format(balance))

Enter amount deposited: 2000
Enter annual rate of interest in decimal form: 0.05
Enter number of times interest is compounded per year: 2
Enter number of years: 6
Balance after 6 years: $2,689.78

In [40]:
from finance import pay # finance.py 파일에 있는 pay() 함수만 import 함.

In [41]:
hourlyWage = eval(input("Enter the hourly wage: "))
hoursWorked = eval(input("Enter the number of hours worked: "))
earnings = pay(hourlyWage, hoursWorked)
print("Earnings: ${0:,.2f}".format(earnings))

Enter the hourly wage: 100
Enter the number of hours worked: 40
Earnings: $4,000.00

In [42]:
from finance import futureValue # finance.py 파일에 있는 futureValue() 함수만 import 함.

In [43]:
p = eval(input("Enter amount deposited: "))
r = eval(input("Enter annual rate of interest in decimal form: "))
m = eval(input("Enter number of times interest is compounded per year: "))
t = int(input("Enter number of years: "))
balance = futureValue(p, r, m, t)
print("Balance after", t, "years: ${0:,.2f}".format(balance))

Enter amount deposited: 4000
Enter annual rate of interest in decimal form: .04
Enter number of times interest is compounded per year: 1
Enter number of years: 5
Balance after 5 years: $4,866.61

In [27]:
# finance.py 내에 있는 모든 함수를 import
from finance import *

## 가변인자 *args

In [44]:
def hello(*names):
    for each in names:
        print('안녕, {}'.format(each))

In [45]:
hello('나타샤')

안녕, 나타샤

In [50]:
hello('수빈', '현수', '지효')

안녕, 수빈
안녕, 현수
안녕, 지효

In [49]:
hello(*('수빈', '현수', '지효'))

안녕, 수빈
안녕, 현수
안녕, 지효

In [47]:
hello(*['방탄소년단', '여자친구', '아이브', '소녀시대'])

안녕, 방탄소년단
안녕, 여자친구
안녕, 아이브
안녕, 소녀시대

## 임의의 키워드 인자 **kwargs

In [51]:
coffeeprice = {"에스프레소": 2500, "아메리카노": 2800, "카페라테": 3200}
mycar = {"brand": "현대", "model":"제네시스", "year":2016}

def mykeyprint(**kwargs):
    for key in kwargs:
        print("{}: {} ".format(key, kwargs[key]), end = ' ')
    print()

In [52]:
mykeyprint(**coffeeprice)

에스프레소: 2500  아메리카노: 2800  카페라테: 3200

In [53]:
mykeyprint(**mycar)

brand: 현대  model: 제네시스  year: 2016

In [54]:
mykeyprint(여자친구=6, 마마무=4)

여자친구: 6  마마무: 4

In [55]:
mykeyprint(엑소=9, 트와이스=9, 블랙핑크=4, 방탄소년단=7)

엑소: 9  트와이스: 9  블랙핑크: 4  방탄소년단: 7

## lambda 함수

In [56]:
(lambda x, y: x*y)(10, 2)

20

In [57]:
mult = lambda x, y: x*y
mult(10,2)

20

In [58]:
(lambda x: x**3)(3)

27

In [60]:
residual = lambda a, b: a%b
residual(10, 3)

1

In [61]:
div = lambda a, b: a/b
print(div(10,2))

5.0

In [30]:
lst = [2*x for x in range(10) if x >= 3]
lst

[6, 8, 10, 12, 14, 16, 18]

In [64]:
lst1 = [(lambda x: x**2)(x) for x in range(5)]
lst1

[0, 1, 4, 9, 16]

In [68]:
lst2 = [(lambda x: x**2)(x) for x in range(9) if x > 5]
lst2

[36, 49, 64]

In [8]:
# 예제 - 59, 61 페이지