## 12 페이지 예제

In [1]:
a = 3

str(a) + " X 2 = 6"

'3 X 2 = 6'

In [2]:
print("3 X 1 = 3\n3 X 2 = 6")

3 X 1 = 3
3 X 2 = 6

In [3]:
print("""3 X 1 = 3
3 X 2 = 6""")

3 X 1 = 3
3 X 2 = 6

In [4]:
trials = 10
win = 3

"총 {}번의 시도 끝에 {}번 패배하셨습니다.".format(trials, trials - win)

'총 10번의 시도 끝에 7번 패배하셨습니다.'

## 16 페이지 예제

In [1]:
phoneNumber = "010-2643-0139"
print("제 폰 번호는", phoneNumber, "입니다.")
print("제 폰 번호 마지막 네자리는", phoneNumber[9:], "입니다.")

제 폰 번호는 010-2643-0139 입니다.
제 폰 번호 마지막 네자리는 0139 입니다.

In [2]:
print("제 폰 번호 중간 네자리는", phoneNumber[4:8], "입니다.")

제 폰 번호 중간 네자리는 2643 입니다.

In [3]:
lst = phoneNumber.split('-')
lst

['010', '2643', '0139']

In [4]:
print("제 폰 번호 마지막 네자리는", lst[2], "입니다.")
print("제 폰 번호 중간 네자리는", lst[1], "입니다.")

제 폰 번호 마지막 네자리는 0139 입니다.
제 폰 번호 중간 네자리는 2643 입니다.

## 20 페이지 예제

In [5]:
# 예제1

a = 1945
b = 1950
c = 6.25

"우리나라는 {}년에 일본으로부터 독립하였으나 {}년 {}전쟁을 겪었다.".format(a,b,c)

'우리나라는 1945년에 일본으로부터 독립하였으나 1950년 6.25전쟁을 겪었다.'

In [10]:
# 예제2

a = 5000
b = 0.0475

"제 대출금액은 {0:,d}만원인데, 대출금리는 {1:.1%}입니다.".format(a, b)

'제 대출금액은 5,000만원인데, 대출금리는 4.8%입니다.'

In [12]:
a = eval(input("숫자를 입력하시오. :"))
a

숫자를 입력하시오. :7

7

## 24페이지 예제

In [ ]:
nums = [3,5,7,9,11]
print("Largest Number: ", max(nums))
print("Length: ", len(nums))
print("Total: ", sum(nums))
print("First Number: ", nums[0])
print("Last Number: ", nums[-1])

In [ ]:
L = ["sentence", "contains", "five", "words."]

L.insert(0, "This")
print(" ".join(L))
del L[3]
L.insert(3, 'six')
L.insert(4, 'different')
print(" ".join(L))

In [13]:
L = ["sentence", "contains", "five", "words."]

In [14]:
L.insert(0, "This")
L

['This', 'sentence', 'contains', 'five', 'words.']

In [15]:
print(" ".join(L))

This sentence contains five words.

In [16]:
del L[3]
L

['This', 'sentence', 'contains', 'words.']

In [17]:
L.insert(3, 'six')
L

['This', 'sentence', 'contains', 'six', 'words.']

In [18]:
L.insert(4, "different")
L

['This', 'sentence', 'contains', 'six', 'different', 'words.']

In [19]:
" ".join(L)

'This sentence contains six different words.'

In [ ]:
a = input("영문 이름을 입력하시오: ")
print("저의 이름은 {}입니다.".format(a.split()[0]))

In [20]:
a = input("Enter a sentence: ")
print("First word: ", a.split()[0])
print("Last word: ", a.split()[-1])

Enter a sentence: Reach for the stars
First word:  Reach
Last word:  stars

In [22]:
"Reach for the stars".split()[0]

'Reach'

In [24]:
"Reach for the stars".split()[-1]

'stars'

In [ ]:
a = input("Enter a 2-part name: ")
print("Revised form: ", '{}, {}'.format(a.split()[1], a.split()[0]))

## 27 페이지 예제

In [5]:
region = "서울-대전-대구-부산-광주"
L = region.split("-")
T = tuple(L)
T

('서울', '대전', '대구', '부산', '광주')

In [28]:
three = {i for i in range(3, 31, 3)}
four = {i for i in range(4, 31, 4)}
print(three)
print(four)

{3, 6, 9, 12, 15, 18, 21, 24, 27, 30}
{4, 8, 12, 16, 20, 24, 28}

In [29]:
three | four

{3, 4, 6, 8, 9, 12, 15, 16, 18, 20, 21, 24, 27, 28, 30}

In [30]:
three - four

{3, 6, 9, 15, 18, 21, 27, 30}

In [31]:
three & four

{12, 24}

## 39 페이지 예제

In [6]:
for i in range(1, 10):
    print(3, 'x', i, '=', 3*i)

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27

In [33]:
a = '*'

for i in range(5):
    print(a)
    a = a+"*"

*
**
***
****
*****

In [32]:
a = '*'

for i in range(1,6):
    print('*'*i)

*
**
***
****
*****

In [8]:
for i in [5,4,3,2,1]:
    print(i)

5
4
3
2
1

In [34]:
for i in range(5,0,-1):
    print(i)

5
4
3
2
1

In [36]:
lst_temp

[1, 2, 3, 4, 5]

In [35]:
a = eval(input("How many numbers do you want to enter? "))
lst_temp = []

for i in range(a):
    a_temp = eval(input("Enter a number: "))
    lst_temp.append(a_temp)
    
mean = sum(lst_temp)/len(lst_temp)
    
print("Mean: ", mean)

How many numbers do you want to enter? 5
Enter a number: 1
Enter a number: 2
Enter a number: 3
Enter a number: 4
Enter a number: 5
Mean:  3.0