## 12 페이지 예제

In [1]:
a = 3

str(a) + " X 2 = 6"

'3 X 2 = 6'

In [2]:
print("3 X 1 = 3\n3 X 2 = 6")

3 X 1 = 3
3 X 2 = 6

In [3]:
print("""3 X 1 = 3
3 X 2 = 6""")

3 X 1 = 3
3 X 2 = 6

In [4]:
trials = 10
win = 3

"총 {}번의 시도 끝에 {}번 패배하셨습니다.".format(trials, trials - win)

'총 10번의 시도 끝에 7번 패배하셨습니다.'

## 16 페이지 예제

In [1]:
phoneNumber = "010-2643-0139"
print("제 폰 번호는", phoneNumber, "입니다.")
print("제 폰 번호 마지막 네자리는", phoneNumber[9:], "입니다.")

제 폰 번호는 010-2643-0139 입니다.
제 폰 번호 마지막 네자리는 0139 입니다.

In [2]:
print("제 폰 번호 중간 네자리는", phoneNumber[4:8], "입니다.")

제 폰 번호 중간 네자리는 2643 입니다.

In [3]:
lst = phoneNumber.split('-')
lst

['010', '2643', '0139']

In [4]:
print("제 폰 번호 마지막 네자리는", lst[2], "입니다.")
print("제 폰 번호 중간 네자리는", lst[1], "입니다.")

제 폰 번호 마지막 네자리는 0139 입니다.
제 폰 번호 중간 네자리는 2643 입니다.

## 20 페이지 예제

In [2]:
# 예제1

a = 1945
b = 1950
c = 6.25

"우리나라는 {}년에 일본으로부터 독립하였으나 {}년 {}전쟁을 겪었다.".format(a,b,c)

'우리나라는 1945년에 일본으로부터 독립하였으나 1950년 6.25전쟁을 겪었다.'

In [2]:
# 예제2

a = 5000
b = 0.0475

"제 대출금액은 {0:,d}만원인데, 대출금리는 {1:.1%}입니다.".format(a, b)

'제 대출금액은 5,000만원인데, 대출금리는 4.8%입니다.'

In [12]:
a = eval(input("숫자를 입력하시오. :"))
a

숫자를 입력하시오. :7

7

## 24페이지 예제

In [ ]:
nums = [3,5,7,9,11]
print("Largest Number: ", max(nums))
print("Length: ", len(nums))
print("Total: ", sum(nums))
print("First Number: ", nums[0])
print("Last Number: ", nums[-1])

In [ ]:
L = ["sentence", "contains", "five", "words."]

L.insert(0, "This")
print(" ".join(L))
del L[3]
L.insert(3, 'six')
L.insert(4, 'different')
print(" ".join(L))

In [13]:
L = ["sentence", "contains", "five", "words."]

In [14]:
L.insert(0, "This")
L

['This', 'sentence', 'contains', 'five', 'words.']

In [15]:
print(" ".join(L))

This sentence contains five words.

In [16]:
del L[3]
L

['This', 'sentence', 'contains', 'words.']

In [17]:
L.insert(3, 'six')
L

['This', 'sentence', 'contains', 'six', 'words.']

In [18]:
L.insert(4, "different")
L

['This', 'sentence', 'contains', 'six', 'different', 'words.']

In [19]:
" ".join(L)

'This sentence contains six different words.'

In [ ]:
a = input("영문 이름을 입력하시오: ")
print("저의 이름은 {}입니다.".format(a.split()[0]))

In [3]:
a = input("Enter a sentence: ")
print("First word:", a.split()[0])
print("Last word:", a.split()[-1])

Enter a sentence:  Reach for the stars

First word: Reach
Last word: stars

In [5]:
a.split()

['Reach', 'for', 'the', 'stars']

In [8]:
"Reach for the stars".split()[0]

'Reach'

In [9]:
"Reach for the stars".split()[-1]

'stars'

In [6]:
a = input("Enter a 2-part name: ")
print("Revised form: ", '{}, {}'.format(a.split()[1], a.split()[0]))

Enter a 2-part name:  John Doe

Revised form:  Doe, John

In [7]:
print("Revised form: ", a.split()[1]+",", a.split()[0])

Revised form:  Doe, John

## 27 페이지 예제

In [8]:
region = "서울-대전-대구-부산-광주"
L = region.split("-")
T = tuple(L)
T

('서울', '대전', '대구', '부산', '광주')

In [9]:
L

['서울', '대전', '대구', '부산', '광주']

In [28]:
three = {i for i in range(3, 31, 3)}
four = {i for i in range(4, 31, 4)}
print(three)
print(four)

{3, 6, 9, 12, 15, 18, 21, 24, 27, 30}
{4, 8, 12, 16, 20, 24, 28}

In [29]:
three | four

{3, 4, 6, 8, 9, 12, 15, 16, 18, 20, 21, 24, 27, 28, 30}

In [30]:
three - four

{3, 6, 9, 15, 18, 21, 27, 30}

In [31]:
three & four

{12, 24}

In [10]:
a = eval(input("양수를 입력하세요: "))

tot = 0
for i in range(a):
    tot += i

print("10보다 작은 양수의 합은", str(tot)+"입니다.")

양수를 입력하세요:  10

10보다 작은 양수의 합은 45입니다.

## 39 페이지 예제

In [6]:
for i in range(1, 10):
    print(3, 'x', i, '=', 3*i)

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27

In [33]:
a = '*'

for i in range(5):
    print(a)
    a = a+"*"

*
**
***
****
*****

In [32]:
a = '*'

for i in range(1,6):
    print('*'*i)

*
**
***
****
*****

In [8]:
for i in [5,4,3,2,1]:
    print(i)

5
4
3
2
1

In [34]:
for i in range(5,0,-1):
    print(i)

5
4
3
2
1

In [36]:
lst_temp

[1, 2, 3, 4, 5]

In [35]:
a = eval(input("How many numbers do you want to enter? "))
lst_temp = []

for i in range(a):
    a_temp = eval(input("Enter a number: "))
    lst_temp.append(a_temp)
    
mean = sum(lst_temp)/len(lst_temp)
    
print("Mean: ", mean)

How many numbers do you want to enter? 5
Enter a number: 1
Enter a number: 2
Enter a number: 3
Enter a number: 4
Enter a number: 5
Mean:  3.0

In [18]:
a = eval(input("How many numbers do you want to enter? "))
lst_temp = []

for i in range(a):
    a_temp = eval(input("Enter a number: "))
    lst_temp.append(a_temp)
    
lst_temp.sort()

if len(lst_temp)/2 == 0:
    j = int(len(lst_temp)/2)
    median = (lst_temp[j-1] + lst_temp[j])/2
else:
    j = int((len(lst_temp)-1)/2)
    median = lst_temp[j]
    
print("Median: ", median)

How many numbers do you want to enter? 5
Enter a number: 2
Enter a number: 3
Enter a number: 4
Enter a number: 5
Enter a number: 6
Median:  4

In [19]:
import statistics

a = eval(input("How many numbers do you want to enter? "))
lst_temp = []

for i in range(a):
    a_temp = eval(input("Enter a number: "))
    lst_temp.append(a_temp)

median = statistics.median(lst_temp)
    
print("Median: ", median)

How many numbers do you want to enter? 5
Enter a number: 1
Enter a number: 2
Enter a number: 3
Enter a number: 4
Enter a number: 5
Median:  3

## 44 페이지 예제

In [15]:
outfile = open("test2/ex44.txt", 'w')
outfile.write("광화문\n")
outfile.write("경복궁\n")
outfile.write("광장시장\n")
outfile.write("강남역\n")
outfile.write("한강\n")
outfile.write("경희궁\n")
outfile.close()

In [12]:
infile = open("ex44.txt", 'r')
culture = [line.strip() for line in infile]
infile.close()

culture

['광화문', '경복궁', '광장시장', '강남역', '한강', '경희궁']

In [13]:
cul_lst = ['광화문\n', '경복궁\n', '광장시장\n', '강남역\n', '한강\n', '경희궁\n']
cul_str = "광화문\n경복궁\n광장시장\n강남역\n한강\n경희궁\n"
outfile = open("ex44-1.txt", 'w')
outfile.writelines(cul_lst)
outfile.close()

In [14]:
outfile = open("ex44-2.txt", 'w')
outfile.writelines(cul_str)
outfile.close()

## 46 페이지 예제

In [2]:
num = input("숫자를 입력하세요: ")

if int(num)%2 == 0:
    print(num+"는(은) 짝수입니다.")
else:
    print(num+"는(은) 홀수입니다.")

숫자를 입력하세요: 3
3는(은) 홀수입니다.

In [6]:
score = eval(input("점수를 입력하세요: "))

if score >= 90:
    print("학점은 A입니다.")
elif score >= 80:
    print("학점은 B입니다.")
elif score >= 70:
    print("학점은 C입니다.")
elif score >= 60:
    print("학점은 D입니다.")
else:
    print("학점은 F입니다.")

점수를 입력하세요: 72
학점은 C입니다.

In [4]:
import random

user = eval(input("숫자를 입력하세요: "))
com = random.choice(range(1, 101))

if user > com:
    print("컴퓨터는 "+str(com)+"를 선택했습니다. 더 큰 수를 고르셨네요.")
elif com > user:
    print("컴퓨터는 "+str(com)+"를 선택했습니다. 더 작은 수를 고르셨네요.")
else:
    print("컴퓨터는 "+str(com)+"를 선택했습니다. 같은 수를 고르셨네요.")

숫자를 입력하세요: 89
컴퓨터는 78를 선택했습니다. 더 큰 수를 고르셨네요.

In [5]:
first_suit = eval(input("Enter cost of first suit: "))
second_suit = eval(input("Enter cost of second suit: "))

if first_suit >= second_suit:
    cost = first_suit + second_suit*0.5
else:
    cost = first_suit*0.5 + second_suit
    
print("Cost of the two suits is ${}".format(cost))

Enter cost of first suit: 400
Enter cost of second suit: 350
Cost of the two suits is $575.0

In [7]:
# if - 예제3

# 소수는 1과 자기 자신만을 약수로 가지는 특성이 있음.

num1 = eval(input("숫자를 입력하세요: "))

# 입력된 숫자보다 작은 숫자를 하나씩 소환
for i in range(1, num1+1):
    count = 0
    # i보다 작은 약수의 개수를 count로 계산
    for j in range(1, i+1):
        if i%j == 0:
            count += 1
    # 약수의 개수가 2개인 경우 소수로 판단
    if count == 2:
        print(i)

숫자를 입력하세요: 9
2
3
5
7

## 50 페이지 예제

In [16]:
import random

num1 = random.choice(range(1, 101))
num2 = int(input("숫자를 입력하세요: "))

while num1 != num2:
    if num1 > num2:
        print("더 큰 수입니다.")
    else:
        print("더 작은 수입니다.")
    num2 = int(input("숫자를 입력하세요: "))
    
print("선택한 수를 맞추셨습니다.")

숫자를 입력하세요:  80

더 작은 수입니다.

숫자를 입력하세요:  70

더 작은 수입니다.

숫자를 입력하세요:  50

더 작은 수입니다.

숫자를 입력하세요:  40

더 작은 수입니다.

숫자를 입력하세요:  30

더 작은 수입니다.

숫자를 입력하세요:  20

더 큰 수입니다.

숫자를 입력하세요:  25

더 큰 수입니다.

숫자를 입력하세요:  27

더 큰 수입니다.

숫자를 입력하세요:  28

더 큰 수입니다.

숫자를 입력하세요:  29

선택한 수를 맞추셨습니다.

In [8]:
# while 예제2

import random

list1 = ["가위", "바위", "보"]
count = 0

win = 0
lose = 0
even = 0

while True:
    
    input1 = input("가위(0), 바위(1), 보(2) 중 하나를 입력하세요(종료 q): ")
    if input1 == 'q':
        break
    count += 1    
    user = list1[int(input1)]
    com = list1[random.choice(range(0,3))]
    
    if user == "가위":
        if com == "바위":
            lose += 1
            print("당신은 졌습니다. (당신: {}, 컴퓨터: {})".format(user, com))
        elif com == "보":
            win += 1
            print("당신은 이겼습니다. (당신: {}, 컴퓨터: {})".format(user, com))
        else:
            even += 1
            print("당신은 비겼습니다. (당신: {}, 컴퓨터: {})".format(user, com))
    elif user == "바위":
        if com == "바위":
            even += 1
            print("당신은 비겼습니다. (당신: {}, 컴퓨터: {})".format(user, com))
        elif com == "보":
            lose += 1
            print("당신은 졌습니다. (당신: {}, 컴퓨터: {})".format(user, com))
        else:
            win += 1
            print("당신은 이겼습니다. (당신: {}, 컴퓨터: {})".format(user, com))
    else:
        if com == "바위":
            win += 1
            print("당신은 이겼습니다. (당신: {}, 컴퓨터: {})".format(user, com))
        elif com == "보":
            even += 1
            print("당신은 비겼습니다. (당신: {}, 컴퓨터: {})".format(user, com))
        else:
            lose += 1
            print("당신은 졌습니다. (당신: {}, 컴퓨터: {})".format(user, com))
            
print("총 {}번의 게임에서 {}승 {}무승부 {}패하셨습니다.".format(count, win, even, lose))

가위(0), 바위(1), 보(2) 중 하나를 입력하세요(종료 q): 1
당신은 비겼습니다. (당신: 바위, 컴퓨터: 바위)
가위(0), 바위(1), 보(2) 중 하나를 입력하세요(종료 q): 2
당신은 졌습니다. (당신: 보, 컴퓨터: 가위)
가위(0), 바위(1), 보(2) 중 하나를 입력하세요(종료 q): 0
당신은 졌습니다. (당신: 가위, 컴퓨터: 바위)
가위(0), 바위(1), 보(2) 중 하나를 입력하세요(종료 q): 2
당신은 이겼습니다. (당신: 보, 컴퓨터: 바위)
가위(0), 바위(1), 보(2) 중 하나를 입력하세요(종료 q): q
총 4번의 게임에서 1승 1무승부 2패하셨습니다.

## 54 페이지 예제

In [17]:
def bigger(a, b):
    if a > b:
        return a
    else:
        return b

In [19]:
bigger(2,2)

2

In [21]:
def twice(a):
    return 2*a

twice(3)

6

In [ ]:
# 함수 예제1 - 소수

def isPrime(num):
    count = 0
    for i in range(1, num+1):
        if num%i == 0:
            count += 1
    if count == 2:
        return True
    else:
        return False

## 59페이지 예제

In [30]:
#1

#blist는 리스트 형태이어야 함.

def twice(*blist):
    lst_temp = []
    for i in blist:
        lst_temp.append(2*i)
    return lst_temp

twice(*[1,2,3,4])

[2, 4, 6, 8]

In [26]:
#2

def max_lst(*number):
    lst_temp = []
    for num in number:
        lst_temp.append(num)
    return max(lst_temp)

max_lst(1,2,3,4,5,6,7,90)

90

In [28]:
#3

def max_two(blist):
    blist.sort(reverse=True)
    print(blist[0])
    print(blist[1])

In [29]:
blist = [2,5,7,9,10]
max_two(blist)

10
9

## 61 페이지 예제

In [26]:
def isPrime(num):
    count = 0
    for i in range(1, num+1):
        if num%i == 0:
            count += 1
    if count == 2:
        return True
    else:
        return False

In [27]:
#1

prime = []


for i in range(1, 101):
    if isPrime(i):
        prime.append(i)

prime

[2,
 3,
 5,
 7,
 11,
 13,
 17,
 19,
 23,
 29,
 31,
 37,
 41,
 43,
 47,
 53,
 59,
 61,
 67,
 71,
 73,
 79,
 83,
 89,
 97]

In [28]:
#2

prime = [i for i in range(1,101) if isPrime(i)]

In [29]:
prime

[2,
 3,
 5,
 7,
 11,
 13,
 17,
 19,
 23,
 29,
 31,
 37,
 41,
 43,
 47,
 53,
 59,
 61,
 67,
 71,
 73,
 79,
 83,
 89,
 97]

## 64 페이지 예제

In [2]:
# 클래스 예제1

class Cylinder:
    
    def __init__(self, radius, height):
        self.radius = radius
        self.height = height
        
    def area(self):
        return 2*3.14*(self.radius**2) + 2*3.14*self.radius*self.height
    
    def volume(self):
        return 3.14*(self.radius**2)*self.height
    
    def __str__(self):
        return "원기둥의 넓이는 {}이고, 부피는 {}입니다.".format(self.area(), self.volume())

In [5]:
cyl = Cylinder(3, 4)
cyl.height

4

In [6]:
print(cyl)

원기둥의 넓이는 131.88이고, 부피는 113.04입니다.

In [6]:
cyl.area()

131.88

In [7]:
cyl.volume()

113.04

In [8]:
cyl.radius

3

In [9]:
cyl.height

4

In [31]:
# 클래스 예제2

class Sphere:
    
    def __init__(self, radius):
        self.radius = radius
        
    def area(self):
        return 4*3.14*(self.radius)**2
    
    def volume(self):
        return 4/3*3.14*(self.radius)**3
    
    def __str__(self):
        return "구의 넓이는 {}이고, 부피는 {}입니다.".format(self.area(), self.volume())

## 66 페이지 예제

In [32]:
# 클래스 예제3

class NewCylinder(Cylinder):
    def sidearea(self):
        return 2*3.14*self.radius*self.height